@model Domain.DiffieHellman

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DiffieHellman</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PrimeNum" class="control-label"></label>
                <input asp-for="PrimeNum" class="form-control" />
                <span asp-validation-for="PrimeNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommonNum" class="control-label"></label>
                <input asp-for="CommonNum" class="form-control" />
                <span asp-validation-for="CommonNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecretOne" class="control-label"></label>
                <input asp-for="SecretOne" class="form-control" />
                <span asp-validation-for="SecretOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecretTwo" class="control-label"></label>
                <input asp-for="SecretTwo" class="form-control" />
                <span asp-validation-for="SecretTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CipherText" class="control-label"></label>
                <input asp-for="CipherText" class="form-control" />
                <span asp-validation-for="CipherText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
